html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
canvas {
    display: block;
    background-color: #323A5E;
}
body {
    margin: 0;
}
#unity-container {
    width: 100%;
    height: 100%;
    background-color: #323A5E;
}
#unity-canvas {
    width: 100%;
    height: 100%;
    background-color: #323A5E;
}
#loading-cover {
    
}
#unity-loading-bar {
	
}
#unity-logo {
	
}
#unity-logo img {
	
}
#unity-progress-bar-empty {
    
}
#unity-progress-bar-full {
    
}
.light #unity-progress-bar-empty {
    border-color: black;
}
.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {

}

.spinner,
.spinner:after {

}
.spinner {

}
@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


